.newList {
  .qrCodeContainer {
    padding: 24px;
    background-color: white;
  }
  .ctaContainer {
    padding: 24px;
    background-color: white;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}
